/*
* 
* @author Jamilton Damasceno
*/

/*Layout
------------------*/

html, body, #home {
    height: 100%;
    overflow-x: hidden; /*
    hidden - esconde a barra horizontal 

    */
}

body {
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    ;
    font-family: Arial, Helvetica, sans-serif;
}


/* Barre de navegacao
---------------------------------*/
nav.navbar-transparente {
    padding: 15px 15px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #7c25f8a8;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.navbar-light .navbar-toggler:hover {
    color: rgba(255,255,255,.5);
    border-color: rgba(124,37,248, 0.659);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}
/* Capa
--------------*/
.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s , color 0.4s; /* transição de cores no hover*/
    padding: 10px 20px;
}

.btn-roxo {
    background: #7c25f8;
}
.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}
.btn-branco:hover {
    background: white;
    color: black;
}

/* Estrutura conteudos
-------------*/

.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos {
    background: white;
}

#servicos h3,h2 {
    color: #7c25f8;
}

#recursos {
    color: white;
}

#recursos h2 {
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}

.albuns {
    padding: 10px 0;
}

.rotacionar {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera*/
    transform: rotate(30deg); /* rotaciona a 30 graus */
    padding-left: 80px;
}

/* Rodapé
-----------*/

footer {
    background: #000;
    padding: 50px 0 20px 0;
    position: relative; /* fica sobre o conteudo */
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover{
    color: #8d4fe4;
    text-decoration: none;
}

/* tirar o marcador da lista*/
footer ul {
    list-style: none; 
}

footer ul li{
    float: right;
    margin: 0 5px;
}

/* Tipografia
------------*/
h1 {
    font-weight: 900;
    letter-spacing: -0.05em; /* espaço entre as letras */
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1 {
        font-size: 1.5em;
    }
    .btn-custom {
        margin: 10px 15px;
        font-size: 0.8em; /* deixar o botao pequene para nao ter quebras*/
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em ;
    }
    .btn-custom {
        margin: 10px 15px;
    }
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}